.form-group {
  &.required {
    label {
      &::after {
        content: '*';

        position: relative;
        top: -3px;
        left: -2px;

        color: color('red');
      }
    }
  }
}

.form-control {
  &.input-light {
    background: $light;
    border: 1px solid $light;

    &::placeholder {
      color: lighten($light, 35%);
    }
  }
}

.form-footer {
  padding-top: 1em;
  text-align: right;

  border-top: 1px solid $border-color;
}

[disabled] {
  cursor: not-allowed;
}
