@import 'loaders/tile';

.loader-wrapper {
  position: relative;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;

    display: none;
    transform: translate(-50%, -50%);

    &.visible {
      display: block;
    }
  }
}