APP_NAME=MMaI

APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_PROTOCOL=http
APP_DOMAIN=mmai.test
APP_URL=http://mmai.test

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=mmai
DB_USERNAME=mmai
DB_PASSWORD=mmai

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

ELASTICSEARCH_HOST=elastic
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_SCHEME=http
ELASTICSEARCH_USER=
ELASTICSEARCH_PASS=

LOG_CHANNEL=stack

CACHE_DRIVER=redis
QUEUE_DRIVER=redis

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_DOMAIN=.mmai.test
