.posts-list {
  .no-posts-alert {
    margin-bottom: 3em;
  }

  .post-item {
    margin-bottom: 2em;
    padding-bottom: 2em;

    border-bottom: 1px solid $border-color;

    .post-header {
      font-weight: bold;
      font-size: 1.5em;

      a {
        display: block;
        color: $body-color;
      }
    }

    .post-lead {
      margin-top: 0.8em;
      opacity: 0.5;
    }

    .post-footer {
      display: flex;
      justify-content: right;
      margin-top: 0.8em;
      opacity: 0.4;

      .post-footer-tags {
        margin-right: 0.5em;

        .post-footer-tag {
          margin-right: 0.5em;
        }
      }
    }
  }
}
