body[data-view="backend.pages.create"], body[data-view="backend.pages.edit"] {
  #page-form {
    [name="lead"] {
      height: 8em;
    }
  }

  #attachments-form {
    #upload-attachment-wrapper {
      text-align: right;
    }

    #attachments-table {
      margin-top: 1em;

      tbody {
        tr {
          td {
            &[data-column="name"] {
              .progress {
                margin-top: 0.5em;
              }
            }

            &[data-column="actions"] {
              padding-right: 0;
              text-align: right;
            }
          }
        }
      }
    }
  }

  #form-footer {
    text-align: center;
  }
}
