@import 'base/badge';
@import 'base/button';
@import 'base/form';
@import 'base/loader';
@import 'base/modal';
@import 'base/nav';
@import 'base/tab';
@import 'base/table';

@import url('https://fonts.googleapis.com/css?family=#{$font-family-base-url-name}');

html {
  height: 100%;
}

body {
  min-height: 100%;
}

::selection {
  background-color: $selection-color;
}

.template {
  display: none;
}
