$font-family-base: 'Noto Sans';
$font-family-base-url-name: 'Noto+Sans';

// I hate rounded corners.
$enable-rounded: false;

// ================== //
// == Basic colors == //
// ================== //

$white: #ffffff;
$gray: #111111;
$black: #000000;

$blue: #007bff;
$yellow: #ffce00;

// ========== //
// == Base == //
// ========== //

$dark: #1a2631;
$light: adjust-hue(lighten($dark, 20%), -10deg);

$border-color: lighten($dark, 5%);
$selection-color: lighten($blue, 5%);

// ========== //
// == Body == //
// ========== //

$body-bg: adjust-hue(darken($dark, 5%), 10deg);
$body-color: $white;

// ========== //
// == Link == //
// ========== //

$link-color: $yellow;
$link-hover-color: $yellow;
$link-active-color: $yellow;

// ================ //
// == Navigation == //
// ================ //

$frontend-navbar-width: 300px;
$backend-navbar-width: 180px;

$navbar-padding: 30px;
$navbar-bg: $dark;

// ==================== //
// == Navigation Tab == //
// ==================== //

$nav-tabs-border-color: $border-color;
$nav-tabs-link-hover-border-color: none;

$nav-tabs-link-active-color: $link-active-color;
$nav-tabs-link-active-border-color: $border-color $border-color $body-bg $border-color;

$tab-pane-padding-top: 1em;

// ================ //
// == Pagination == //
// ================ //

$pagination-bg: $dark;
$pagination-color: $body-color;
$pagination-border-color: $dark;

$pagination-hover-bg: $pagination-bg;
$pagination-hover-color: $pagination-color;
$pagination-hover-border-color: #404040;

$pagination-disabled-bg: $dark;
$pagination-disabled-color: darken($dark, 5%);
$pagination-disabled-border-color: $dark;

$pagination-active-bg: $blue;
$pagination-active-color: $white;

// ============== //
// == Dropdown == //
// ============== //

$dropdown-bg: $dark;

$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: lighten($dropdown-bg, 8%);

// =========== //
// == Input == //
// =========== //

$input-bg: $dark;
$input-color: $white;
$input-border-color: $dark;
$input-placeholder-color: lighten($input-bg, 35%);
$input-group-addon-bg: lighten($input-bg, 10%);
$input-disabled-bg: $dark;

// =================== //
// == Custom select == //
// =================== //

$custom-select-disabled-bg: $dark;

// =========== //
// == Table == //
// =========== //

$table-dark-bg: $body-bg;
$table-dark-accent-bg: $table-dark-bg;
$table-dark-color: $white;

// =========== //
// == Badge == //
// =========== //

$badge-padding-x: 6px;
$badge-padding-y: 6px;
$badge-pill-border-radius: 8px;

// =========== //
// == Modal == //
// =========== //

$modal-backdrop-opacity: 0.8;

$modal-header-color: #333333;
$modal-body-color: #333333;

$modal-input-bg: $white;
$modal-input-color: $black;
$modal-input-border-color: #bbbbbb;
