/**
 * Thanks to: http://tobiasahlin.com/spinkit
 */

.loader-tile {
  width: 40px;
  height: 40px;

  margin: 100px auto;

  background-color: #333333;

  animation: loader-tile 1.2s infinite ease-in-out;
}

@keyframes loader-tile {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}