body[data-view="frontend.error"] {
  display: flex;
  align-items: center;
  justify-content: center;

  .site-container {
    margin-right: 0;

    .site-content {
      text-align: center;

      .error-cta {
        margin-top: 2em;
      }
    }
  }
}
