body[data-view="frontend.pages.show"] {
  .site-content {
    .content-alerts {
      margin-bottom: 2em;
    }

    .content-header {
      display: flex;
      align-items: center;
      margin-bottom: 1em;

      .btn {
        width: 42px;
        height: 42px;
        margin-right: 1em;
      }

      .page-title {
        flex-grow: 1;
        line-height: 1;
        margin-right: 1em;
      }

      .page-variants {
        white-space: nowrap;

        .page-variant {
          margin-left: 2px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .page-attachments-container {
      margin-top: 2em;
      padding-top: 1em;

      border-top: 1px solid $border-color;

      .page-attachments {
        max-width: 500px;
      }
    }
  }
}
