.posts-list {
  .no-posts-alert {
    margin-bottom: 3em;
  }

  .post-item {
    margin-bottom: 2em;
    padding-bottom: 2em;

    border-bottom: 1px solid #222222;

    // Header //
    .post-header {
      font-weight: bold;
      font-size: 1.5em;

      a {
        display: block;
        color: $body-color;
      }
    }

    // Lead //
    .post-lead {
      margin-top: 0.8em;
      opacity: 0.5;
    }

    // Footer //
    .post-footer {
      display: flex;
      justify-content: right;
      margin-top: 0.8em;
      opacity: 0.4;

      // Tags //
      .footer-tags {
        margin-right: 1em;

        .fas {
          position: relative;
          top: 2px;
          left: -2px;
        }
      }

      // Published at //
      .footer-published-at {
        .fas {
          margin-right: 2px;
        }
      }

      .continue-reading-button {
        flex-grow: 1;
      }
    }
  }
}
