.content-container {
  flex-grow: 1;
  padding: 80px;

  .content {
    .content-header {
      display: flex;
      align-items: center;
      margin-bottom: 2em;

      .btn {
        width: 42px;
        height: 42px;

        margin-right: 1em;
      }

      .content-title {
        line-height: 1;
      }
    }
  }

  .content-footer {
    margin-top: 45px;
  }
}
