.site-navigation {
  position: fixed;
  top: 0;
  right: 0;

  width: $frontend-navbar-width;
  height: 100%;

  padding: $navbar-padding;

  text-align: center;
  background: $navbar-bg;

  .nav-section {
    margin-bottom: 3em;

    .nav-section-name {
      margin-bottom: 0.2em;
      font-size: 1.2em;
    }
  }

  .nav-header {
    .title {
      @extend h1;

      font-size: 1.5em;
    }

    .description {
      margin-top: 1em;
      opacity: 0.5;
    }
  }

  .nav-menu {
    .nav-menu-item {
      display: block;
    }
  }
}
