.site-content {
  padding: $content-padding-y $content-padding-x;

  .content-header {
    display: flex;
    margin-bottom: 2em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid $border-color;

    .title {
      flex-grow: 1;
      font-size: 2em;
    }
  }
}
