.site-navigation {
  display: flex;
  width: 100%;
  height: auto;
  padding: 15px $content-padding-x;

  text-align: center;
  background: $navbar-bg;

  .nav-title {
    @extend h1;

    display: flex;
    align-items: center;
    justify-content: left;

    margin: 0 30px 0 0;
    font-size: 2em;
  }

  .nav-items {
    flex-grow: 1;
    display: flex;

    .nav-item {
      display: block;
      padding: 0 15px;

      color: #ffffff;
      text-decoration: none;

      opacity: 0.4;

      &:hover, &.active {
        opacity: 1;
      }

      .icon {
        font-size: 1.3em;
      }

      .title {
        font-size: 0.9em;
      }
    }
  }
}
